Repository Kilmented/FOURRENSTATION, pull requests merged in 2024-05, with the labels that each got.

#7 Our Beautiful Maiden | Adds the Fluyt Class Suzerain Nokura
  _maps/map_files/AAA_Outpost/_Liberty_Colony.dmm
  _maps/map_files/AAA_Ship/ship.dmm
Labels: Map Modification

#8 actually includes our maiden
  _maps/_basemap.dm
  _maps/map_files/AAA_Ship/ship.dmm
Labels: Map Modification

#9 Her name is SUZERAIN NOKURA
  _maps/_basemap.dm
  _maps/map_files/AAA_Ship/ship.dmm
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  _maps/map_files/generic/CentCom_nova_z2.dmm
  _maps/suzerainnokura.json
  config/config.txt
  config/maps.txt
Labels: Map Modification, Crimson Princess Magic

#10 Ping: 62ms (Average: 64ms) Time Dilation: 0% AVG:(0%, 0%, 0%) Map: SSN Suzerain Nokura
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  config/config.txt
Labels: Map Modification

#11 nuchem + map fixes
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  modular_warrenstation/code/modules/nuchem.dm
  tgstation.dme
Labels: Map Modification

#12 nokura fixes + automapper demolition
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  modular_nova/modules/automapper/code/area_spawn_entries.dm
Labels: Map Modification

#13 continuing work on this map
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#14 final fixes for tonight
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#15 Outpost initial work
  _maps/map_files/AAA_Outpost/DisalaraOutpost.dmm
  _maps/map_files/AAA_Outpost/outpostakapvez.dmm
Labels: Map Modification

#16 First Z Stuff
  _maps/map_files/AAA_Outpost/DisalaraOutpost.dmm
Labels: Map Modification

#17 deru armpits PR
  _maps/map_files/AAA_Outpost/DisalaraOutpost.dmm
Labels: Map Modification

#19 teehee I can't stop mapping
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#20 nonsense PR # 18
  _maps/map_files/AAA_Outpost/DisalaraOutpost.dmm
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  _maps/shuttles/nova/cargo_nova.dmm
  code/__DEFINES/~nova_defines/cargo_import_companies.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/storage/belt.dm
  config/game_options.txt
  modular_nova/modules/company_imports/code/armament_datums/jarnsmiour.dm
  modular_nova/modules/company_imports/code/company_datums.dm
  tgstation.dme
Labels: Map Modification

#21 config+
  _maps/map_files/AAA_Outpost/DisalaraOutpost.dmm
  config/nova/config_nova.txt
Labels: Map Modification

#22 Updated map to add atmospherics, added in the stuff I missed.
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#23 Fixing
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#25 config tweaks, foot + appendix traits free, more fixes
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  config/game_options.txt
  modular_nova/master_files/code/datums/traits/good.dm
  modular_warrenstation/code/modules/guns.dm
Labels: Map Modification

#27 second floor pve mostly done
  _maps/map_files/AAA_Outpost/DisalaraOutpost.dmm
Labels: Map Modification

#28 final boss deru armpits
  _maps/map_files/AAA_Outpost/DisalaraOutpost.dmm
Labels: Map Modification

#29 IV IX XIX I XII I XVIII I VI XV XXI XVIII
  _maps/_basemap.dm
  _maps/map_files/Mining/DisalaraOutpost.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#30 continuing
  _maps/_basemap.dm
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  _maps/map_files/SuzerainNokura/SuzerainNokuraLegacy.dmm
  _maps/suzerainnokura.json
Labels: Map Modification

#31 more map fixes
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#32 suzerain nokura fixes
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  code/datums/mood_events/needs_events.dm
  modular_nova/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_warrenstation/code/modules/guns.dm
  tgui/packages/tgui/interfaces/NtosDeptOrder.tsx
Labels: Map Modification

#39 spooder fixes
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#43 telecomms, disposals fix, cyborg/AI room
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#45 map fix to allow us to compile maps
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#48 i'm cooked
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#50 general upkeep for Our Maiden
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#51 bar addition, move science desk, remove some posters from science (th
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#52 misc armpit fixes see desc
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#54 many changes
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#55 I hate disposals
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#56 button and sinks
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#58 button, sinks, spawns
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#59 fixed vent directions after they were randomized
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#60 bot patrol routes
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#63 atmos valve, add cute decorations
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#64 drains drains drains
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#65 fix console, minor layout fix
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#66 plates and service lathe
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#67 removing weird hybrid of two map updates
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
Labels: Map Modification

#62 Snowflake donor shit removal [Needs testing/building]
  code/__DEFINES/~nova_defines/DNA.dm
  code/modules/unit_tests/unit_test.dm
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_nova/master_files/icons/mob/sprite_accessory/head_accessory.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/horns.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/neck_accessory.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/head_accessory.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_nova/modules/customization/modules/surgery/organs/head_accessory.dm
  modular_nova/modules/customization/modules/surgery/organs/neck_accessory.dm
  modular_nova/modules/loadouts/loadout_items/under/donator.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  tgstation.dme
Labels: Sprites
