Repository Kilmented/FOURRENSTATION, pull requests merged in 2024-08, with the labels that each got.

#73 Ports New Clipboard Sprites
  code/modules/paperwork/clipboard.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/service/bureaucracy.dmi
Labels: Sprites

#72 Suzerain Nokura II
  _maps/map_files/SuzerainNokura/SuzerainNokura.dmm
  _maps/map_files/SuzerainNokura/SuzerainNokuraLegacy1.dmm
  _maps/map_files/SuzerainNokura/SuzerainNokuraLegacy2.dmm
  _maps/map_files/generic/CentCom_nova_z2.dmm
  code/__DEFINES/colors.dm
  code/__DEFINES/maps.dm
  code/_onclick/hud/hud.dm
  code/datums/map_config.dm
  code/datums/materials/alloys.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/tooltip/tooltip.html
  config/nova/config_nova.txt
  config/title_music/sounds/default.ogg
  config/title_music/sounds/title1.ogg
  icons/hud/64x16_actions.dmi
  icons/hud/screen_trasenknox.dmi
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_warrenstation/code/modules/areas.dm
  tgstation.dme
Labels: Map Modification, Sprites

#74 Ports New Implant Sprites
  modular_warrenstation/code/modules/surgery/organs/internal/augments_internal.dm
  modular_warrenstation/code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  modular_warrenstation/code/modules/surgery/organs/internal/cyberimp/augments_chest.dm
  modular_warrenstation/code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  modular_warrenstation/icons/obj/medical/organs/organs.dmi
Labels: Sprites

#75 languages
  modular_nova/master_files/icons/misc/language.dmi
  modular_nova/modules/customization/modules/language/te_velu_akko.dm
  modular_warrenstation/code/modules/language.dm
  tgstation.dme
Labels: Sprites

#76 suzerain nokura completionism
  _maps/map_files/generic/CentCom_nova_z2.dmm
  code/__DEFINES/mobs.dm
  icons/hud/screen_trasenknox.dmi
  modular_warrenstation/code/modules/areas.dm
Labels: Map Modification, Sprites

#77 Armpits :3
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#79 attempt fix at mining
  _maps/map_files/Mining/Lavaland.dmm
  modular_nova/modules/advanced_shuttles/code/shuttles.dm
  modular_nova/modules/emotes/code/emotes.dm
Labels: Map Modification

#81 fuck my stupid moe life
  _maps/suzerainnokura.json
  config/config.txt
Labels: Map Modification

#83 teehee
  _maps/suzerainnokura.json
  code/modules/mob/living/carbon/human/species_types/snail.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
Labels: Map Modification

#84 Armpits 2
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#85 Telecomms!
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#86 add one cable
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#87 add one wire, update medical lathe (hopefully fix?)
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#89 oops no power in exam rooms
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#91 make ship more pretty
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#96 adds the entirety of Europa
  _maps/_basemap.dm
  _maps/europa.json
  _maps/map_files/Europa/Europa.dmm
  _maps/map_files/generic/CentCom_nova_z2.dmm
  _maps/suzerainnokura.json
  code/_onclick/hud/parallax/parallax.dm
  code/modules/economy/account.dm
  config/game_options.txt
  config/maps.txt
  config/nova/donators.txt
  modular_nova/modules/colony_fabricator/icons/tiles.dmi
  modular_nova/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Map Modification, Sprites

#95 Replaces PP-95 with Smart SMG
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  code/__DEFINES/projectiles.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/weapons/gun/smartgun/smartgun_shoot_1.ogg
  sound/weapons/gun/smartgun/smartgun_shoot_2.ogg
  sound/weapons/gun/smartgun/smartgun_shoot_3.ogg
Labels: Map Modification, Sprites

#93 Ports Cash Changes
  code/game/objects/items/cards_ids.dm
  code/modules/economy/holopay.dm
  modular_warrenstation/deepmaint_stuff/code/order_console_slop/order_console.dm
  modular_warrenstation/epic_loot/code/loot_structures/register.dm
  modular_warrenstation/epic_loot/code/loot_structures/wall_jackets.dm
  modular_warrenstation/money_rework/code/atm.dm
  modular_warrenstation/money_rework/code/atmflatpacked.dm
  modular_warrenstation/money_rework/code/money.dm
  modular_warrenstation/money_rework/code/moneyspawners.dm
  modular_warrenstation/money_rework/icons/atm.dmi
  modular_warrenstation/money_rework/icons/lethalmoney.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AutoBank.tsx
Labels: Sprites

#101 REEEE NO APC
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Map Modification

#103 Ports Bullet Piles
  modular_warrenstation/code/modules/ammo_stacks/code/ammo_stack_base.dm
  modular_warrenstation/code/modules/ammo_stacks/code/stack_types.dm
  modular_warrenstation/code/modules/ammo_stacks/icons/ammo_stacks.dmi
  tgstation.dme
Labels: Sprites

#109 map pretty-s + attempt at title screen
  _maps/map_files/generic/CentCom_nova_z2.dmm
  config/title_screens/images/default.png
  config/title_screens/images/wslogo.png
  modular_nova/modules/title_screen/code/_title_screen_defines.dm
Labels: Map Modification
